.button-link {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-link:hover {
    background-color: #0056b3;
}

.inline-image {
    display: inline-block;
    width: 35%;
    vertical-align: top; /* This aligns the top of the images if they have different heights */
}
div#loading {
    width: 480px;
    height: 480px;
    display: none;
    background: url(/static/images/loading.gif) no-repeat;
    cursor: wait;
    }

.comparison-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.player-select {
    margin-bottom: 10px;
}

.compare-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.player-stats {
    display: flex;
    justify-content: center;
}

.player1, .player2 {
    flex: 1;
    margin: 0 10px;
}
