* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-link:hover {
    background-color: #0056b3;
}

.inline-image {
    display: inline-block;
    width: 35%;
    vertical-align: top; /* This aligns the top of the images if they have different heights */
}
#loader {
    position: fixed;
    top: 50vh;
    left: 50vw;
    margin-top: -120px;
    margin-left: -70px;
    display: none;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #007bff;
    border-bottom: 16px solid #007bff;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.comparison-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.player-select {
    margin-bottom: 10px;
}

.compare-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.player-stats {
    display: flex;
    justify-content: center;
}

.player1, .player2 {
    flex: 1;
    margin: 0 10px;
}
.centered-button {
    margin: auto;
}
body {
    background-color: #333;
    color: #fff;
}
.navbar {
    background-color: #007BFF;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin-right: 10px;
}

.navbar li a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
}

.navbar li a:hover {
    background-color: #0056b3;
}
.navbar li.active a {
            background-color: #0056b3;
        }

.footer {
    background-color: #007BFF;
    color: #fff;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
/* Center the login form on the login page */
body.login-page form {
    margin-top: 50px;
}

/* Style the login form inputs on the login page */
body.login-page form div {
    margin-bottom: 20px;
}

body.login-page form label {
    display: block;
    margin-bottom: 5px;
}

body.login-page form input[type="text"],
body.login-page form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

body.login-page form input[type="submit"] {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

body.login-page form input[type="submit"]:hover {
    background-color: #0056b3;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  display: flex;
  justify-content: center;
  text-align: center;
}



/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}




/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}