<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="static/images/tigerX">
    <title>{% block title %}{% endblock %}</title>
    <style>
        .navbar li.active a {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <header>
        <div class="navbar">
            <ul>
                <li{% if active_page == 'home' %} class="active"{% endif %}><a href="/">Home</a></li>
                <li{% if active_page == 'comparison' %} class="active"{% endif %}><a href="/initialise_comparison">Comparison</a></li>
                {% if current_user.is_authenticated %}
                    <li{% if active_page == 'logout' %} class="active"{% endif %}><a href="/logout">Logout</a></li>
                {% else %}
                    <li{% if active_page == 'login' %} class="active"{% endif %}><a href="/login">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </header>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <!--<div class="footer">
            <p>This is the footer content.</p>
        </div>-->
    </footer>
</body>
</html>
