{% extends 'base.html' %}

{% block title %}Comparison{% endblock %}

{% block content %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <form action="/comparison" method="POST">
    <div class="form-container">
        <div class="player-container">
            <h1>Player 1</h1>
            <input type="text" id="player1Name" name="playerName" value="{{ player }}">
            <!-- Add player 1 stats and visualization here -->
            {% if compare %}
                <p>{{ playernames[0] }}</p>
                <img src="{{ url_for('static', filename='images/successful_passes/' + player1 + '.png') }}" alt="successful Passing Map" class="inline-image" onError="this.onerror=null;this.src='/static/images/noimage.gif';">
                <img src="{{ url_for('static', filename='images/unsuccessful_passes/' + player1 + '.png') }}" alt="unsuccessful Passing Map" class="inline-image" onError="this.onerror=null;this.src='/static/images/noimage.gif';">

            {% endif %}
        </div>
        <div class="player-container">
            <h1>Player 2</h1>
            <input type="text" id="player2Name" name="playerName" value="{{ player }}">
            <!-- Add player 2 stats and visualization here -->
            {% if compare %}
                <p>{{ playernames[1] }}</p>
                <img src="{{ url_for('static', filename='images/successful_passes/' + player2 + '.png') }}" alt="successful Passing Map" class="inline-image" onError="this.onerror=null;this.src='/static/images/noimage.gif';">
                <img src="{{ url_for('static', filename='images/unsuccessful_passes/' + player2 + '.png') }}" alt="unsuccessful Passing Map" class="inline-image" onError="this.onerror=null;this.src='/static/images/noimage.gif';">

            {% endif %}
        </div>
        <div class="center-container">
            <button type="submit" class="centered-button" id="loadStatsButton">Load Stats</button>

        </div>
    </div>
</form>
    <div id="loading" style="display: none;">
    <img src="/static/images/loading.gif" alt="Loading" />
    </div>


    <script>
    $(document).ready(function() {
        var availableTags = {{ autocompleteData|tojson|safe }};

        $('#player1Name, #player2Name').autocomplete({
            source: availableTags,
            autoFocus: true
        });

        $('#loadStatsButton').click(function() {
            $('#loading').show();
            $('.form-container').hide();
            // You can add more elements to hide here
        });
    });
</script>
{% endblock %}
