{% extends 'base.html' %}

{% block title %}Comparison{% endblock %}

{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <div class="page-container">
        <div class="left-section">
            <div id="rating-chart1"></div>
        </div>

        <div class="form-container">
            <form action="/comparison" method="POST">
                <h1>Players</h1>
                <input type="text" id="player1Name" name="playerName" value="{{ playernames[0] }}">
                <input type="text" id="player2Name" name="playerName" value="{{ playernames[1] }}" style="text-align: right;">
                <button type="submit" class="centered-button" id="loadStatsButton">Compare</button>
            </form>
        </div>

        <div class="right-section">
            <div id="rating-chart2"></div>
        </div>
    </div>

    <div id="loader"></div>

    <div>
        <div class="table-container">
            <table>
                <thead>
                <tr>
                    <th>{{ player1position }}</th>
                    <th></th>
                    <th>{{ player2position }}</th>
                </tr>
            </thead>
                <tbody>
                        <tr class="title" id="dropdown1">
                        <td>{% if p1stats[0][1] != 0 %}
                            {{ (p1stats[0][2] / p1stats[0][1] * 100) | round(2) }}%
                            {% else %}
                            0%
                            {%  endif %}</td>
                        <td><i class="fas fa-caret-down dropdown-icon"></i>Successful Passes</td>
                        <td>
                            {% if p2stats[0][1] != 0 %}
                            {{ (p2stats[0][2] / p2stats[0][1] * 100) | round(2) }}%
                            {% else %}
                            0%
                            {% endif %}</td>
                    </tr>
                    <tr class="child-row">
                        <td class="child-data" colspan="3"> <!-- Update colspan to 4 for the new column -->
                            <div class="child-data-left">
                                <img src="{{ url_for('static', filename='images/successful_passes/' + player1 + '.png') }}" alt="successful Passing Map" class="inline-image" onError="this.onerror=null;this.src='/static/images/noimage.png';">
                            </div>
                            <div class="child-data-middle"> <!-- New middle child column -->
                                <img src="{{ url_for('static', filename='images/color_key_success/'+player1+'_'+player2+'.png') }}" alt="successful Passing Map" class="inline-image" onError="this.onerror=null;this.src='/static/images/noimage.png';">
                                <br>
                                <div style="display: inline-block; width: 10px; height: 10px; background-color: #007f00; border-radius: 50%; vertical-align: middle;"></div>
                                <span style="vertical-align: middle;">Mean</span>
                                <br>
                                <div style="display: inline-block; width: 10px; height: 10px; background-color: #fd7e0e; border-radius: 50%; vertical-align: middle;"></div>
                                <span style="vertical-align: middle;">Median</span>
                            </div>
                            <div class="child-data-right">
                                <img src="{{ url_for('static', filename='images/successful_passes/' + player2 + '.png') }}" alt="successful Passing Map" class="inline-image" onError="this.onerror=null;this.src='/static/images/noimage.png';">
                            </div>
                            <div class="clear"></div>
                        </td>
                    </tr>
                    <tr class="title" id="dropdown2">
                        <td>{% if p1stats[0][1] != 0 %}
                            {{ (p1stats[0][3] / p1stats[0][1] * 100) | round(2) }}%
                            {% else %}
                            0%
                            {% endif %}</td>
                        <td><i class="fas fa-caret-down dropdown-icon"></i>Unsuccessful Passes</td>
                        <td>{% if p2stats[0][1] != 0 %}
                            {{ (p2stats[0][3] / p2stats[0][1] * 100) | round(2) }}%
                            {% else %}
                            0%
                            {% endif %}</td>
                    </tr>
                    <tr class="child-row">
                        <td class="child-data" colspan="3"> <!-- Update colspan to 4 for the new column -->
                            <div class="child-data-left">
                                <img src="{{ url_for('static', filename='images/unsuccessful_passes/' + player1 + '.png') }}" alt="successful Passing Map" class="inline-image" onError="this.onerror=null;this.src='/static/images/noimage.png';">
                            </div>
                            <div class="child-data-middle"> <!-- New middle child column -->
                                <img src="{{ url_for('static', filename='images/color_key_unsuccess/'+player1+'_'+player2+'.png') }}" alt="successful Passing Map" class="inline-image" onError="this.onerror=null;this.src='/static/images/noimage.png';">
                                <br>
                                <div style="display: inline-block; width: 10px; height: 10px; background-color: #007f00; border-radius: 50%; vertical-align: middle;"></div>
                                <span style="vertical-align: middle;">Mean</span>
                                <br>
                                <div style="display: inline-block; width: 10px; height: 10px; background-color: #fd7e0e; border-radius: 50%; vertical-align: middle;"></div>
                                <span style="vertical-align: middle;">Median</span>
                            </div>
                            <div class="child-data-right">
                                <img src="{{ url_for('static', filename='images/unsuccessful_passes/' + player2 + '.png') }}" alt="successful Passing Map" class="inline-image" onError="this.onerror=null;this.src='/static/images/noimage.png';">
                            </div>
                            <div class="clear"></div>
                        </td>
                    </tr>
                    </tr>
                    <tr class="title" id="dropdown3">
                        <td>Ranked {{ ranks[0][0] }} Amongst {{ p1type }}s</td>
                        <td><i class="fas fa-caret-down dropdown-icon"></i>Goals</td>
                        <td>Ranked {{ ranks[1][0] }} Amongst {{ p2type }}s</td>
                    </tr>
                    <tr class="child-row">
                        <td class="child-data" colspan="3">
                            <div class="child-data-left">
                                <img src="{{ url_for('static', filename='images/ranks/goals/' + player1 + '.png') }}" alt="goals/xg" class="inline-image" onError="this.onerror=null;this.src='/static/images/noimage.png';">
                            </div>
                            <div class="child-data-middle"> <!-- New middle child column -->
                                <br>
                                <div style="display: inline-block; width: 25px; height: 3px; background-color: #1f76b3; vertical-align: middle;"></div>
                                <span style="vertical-align: middle;">Strikers</span>
                                <br>
                                <div style="display: inline-block; width: 25px; height: 3px; background-color: #fd7e0e; vertical-align: middle;"></div>
                                <span style="vertical-align: middle;">Midfielders</span>
                                <br>
                                <div style="display: inline-block; width: 25px; height: 3px; background-color: #2c9f2c; vertical-align: middle;"></div>
                                <span style="vertical-align: middle;">Wingers/Wingbacks</span>
                                <br>
                                <div style="display: inline-block; width: 25px; height: 3px; background-color: #d42728; vertical-align: middle;"></div>
                                <span style="vertical-align: middle;">Defenders</span>
                            </div>
                            <div class="child-data-right">
                                <img src="{{ url_for('static', filename='images/ranks/goals/' + player2 + '.png') }}" alt="goals/xg" class="inline-image" onError="this.onerror=null;this.src='/static/images/noimage.png';">
                            </div>
                            <div class="clear"></div>
                        </td>
                    </tr>
                    <tr class="title" id="dropdown4">
                        <td>Ranked {{ ranks[0][1] }} Amongst {{ p1type }}s</td>
                        <td><i class="fas fa-caret-down dropdown-icon"></i>Expected Goals</td>
                        <td>Ranked {{ ranks[1][1] }} Amongst {{ p2type }}s</td>
                    </tr>
                    <tr class="child-row">
                        <td class="child-data" colspan="3">
                            <div class="child-data-left">
                                <img src="{{ url_for('static', filename='images/ranks/xG/' + player1 + '.png') }}" alt="Miinutes/xg" class="inline-image" onError="this.onerror=null;this.src='/static/images/noimage.png';">
                            </div>
                            <div class="child-data-middle"> <!-- New middle child column -->
                                <br>
                                <div style="display: inline-block; width: 25px; height: 3px; background-color: #1f76b3; vertical-align: middle;"></div>
                                <span style="vertical-align: middle;">Strikers</span>
                                <br>
                                <div style="display: inline-block; width: 25px; height: 3px; background-color: #fd7e0e; vertical-align: middle;"></div>
                                <span style="vertical-align: middle;">Midfielders</span>
                                <br>
                                <div style="display: inline-block; width: 25px; height: 3px; background-color: #2c9f2c; vertical-align: middle;"></div>
                                <span style="vertical-align: middle;">Wingers/Wingbacks</span>
                                <br>
                                <div style="display: inline-block; width: 25px; height: 3px; background-color: #d42728; vertical-align: middle;"></div>
                                <span style="vertical-align: middle;">Defenders</span>
                            </div>
                            <div class="child-data-right">
                                <img src="{{ url_for('static', filename='images/ranks/xG/' + player2 + '.png') }}" alt="Miinutes/xg" class="inline-image" onError="this.onerror=null;this.src='/static/images/noimage.png';">
                            </div>
                            <div class="clear"></div>
                        </td>

                    <tr class="title" id="dropdown5">
                        <td>{{ (p1stats[1][1])}} Shots</td>
                        <td><i class="fas fa-caret-down dropdown-icon"></i>Shot types</td>
                        <td>{{ (p2stats[1][1])}} Shots</td>
                    </tr>
                    <tr class="child-row">
                        <td class="child-data" colspan="3">
                            <div class="child-data-left"><div class="sankey-plot-container" id="sankey-plot1"></div></div>
                            <div class="child-data-right"><div class="sankey-plot-container" id="sankey-plot2"></div></div>
                            <div class="clear"></div>
                        </td>
                    </tr>
                        <tr class="title" id="dropdown6">
                        <td>{{ (p1onTarget*100) | round(2) }}% on target</td>
                        <td><i class="fas fa-caret-down dropdown-icon"></i>Shot Positions</td>
                        <td>{{ (p2onTarget*100) | round(2) }}% on target</td>
                    </tr>
                    <tr class="child-row">
                        <td class="child-data" colspan="3">
                            <div class="child-data-left">
                                <img src="{{ url_for('static', filename='images/shotpos/' + player1 + '.png') }}" alt="tackles" class="inline-image" onError="this.onerror=null;this.src='/static/images/noimage.png';">
                            </div>
                            <div class="child-data-middle"> <!-- New middle child column -->
                                <br>
                                <div style="display: inline-block; width: 10px; height: 10px; background-color: green; border-radius: 50%; vertical-align: middle;"></div>
                                <span style="vertical-align: middle;">Scored</span>
                                <br>
                                <div style="display: inline-block; width: 10px; height: 10px; background-color: #fd0000; border-radius: 50%; vertical-align: middle;"></div>
                                <span style="vertical-align: middle;">Missed</span>
                                <br>
                                <div style="display: inline-block; width: 10px; height: 10px; background-color: #fdfd00; border-radius: 50%; vertical-align: middle;"></div>
                                <span style="vertical-align: middle;">Saved</span>
                                <br>
                                <div style="display: inline-block; width: 10px; height: 10px; background-color: #2b2bc4; border-radius: 50%; vertical-align: middle;"></div>
                                <span style="vertical-align: middle;">Woodwork</span>
                            </div>
                            <div class="child-data-right">
                                <img src="{{ url_for('static', filename='images/shotpos/' + player2 + '.png') }}" alt="tackles" class="inline-image" onError="this.onerror=null;this.src='/static/images/noimage.png';">
                            </div>
                            <div class="clear"></div>
                        </td>
                    <tr class="title" id="dropdown7">
                        <td>{% if p1tackles["total_tackles"] == 0 %}
                                0% Successful
                            {% else %}
                                {{ (p1tackles["successful_tackles"] / p1tackles["total_tackles"] * 100) | round(2) }}% Successful
                            {% endif %}
                        </td>
                        <td><i class="fas fa-caret-down dropdown-icon"></i>Tackles</td>
                        <td>{% if p2tackles["total_tackles"] == 0 %}
                                0% Successful
                            {% else %}
                                {{ (p2tackles["successful_tackles"] / p2tackles["total_tackles"] * 100) | round(2) }}% Successful
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="child-row">
                        <td class="child-data" colspan="3">
                            <div class="child-data-left">
                                <img src="{{ url_for('static', filename='images/tackles/' + player1 + '.png') }}" alt="tackles" class="inline-image" onError="this.onerror=null;this.src='/static/images/noimage.png';">
                            </div>
                            <div class="child-data-middle"> <!-- New middle child column -->
                                <br>
                                <div style="display: inline-block; width: 10px; height: 10px; background-color: green; border-radius: 50%; vertical-align: middle;"></div>
                                <span style="vertical-align: middle;">Tackle Won</span>
                                <br>
                                <div style="display: inline-block; width: 10px; height: 10px; background-color: red; border-radius: 50%; vertical-align: middle;"></div>
                                <span style="vertical-align: middle;">Tackle Lost</span>
                            </div>
                            <div class="child-data-right">
                                <img src="{{ url_for('static', filename='images/tackles/' + player2 + '.png') }}" alt="tackles" class="inline-image" onError="this.onerror=null;this.src='/static/images/noimage.png';">
                            </div>
                            <div class="clear"></div>
                        </td>
                    <tr class="title" id="dropdown8">
                        <td>{{ p1interceptions }} Interceptions</td>
                        <td><i class="fas fa-caret-down dropdown-icon"></i>Interceptions</td>
                        <td>{{ p2interceptions }} Interceptions</td>
                    </tr>
                    <tr class="child-row">
                        <td class="child-data" colspan="3">
                            <div class="child-data-left">
                                <img src="{{ url_for('static', filename='images/interceptions/' + player1 + '.png') }}" alt="tackles" class="inline-image" onError="this.onerror=null;this.src='/static/images/noimage.png';">
                            </div>
                            <div class="child-data-middle"> <!-- New middle child column -->
                                <br>
                                <div style="display: inline-block; width: 10px; height: 10px; background-color: green; border-radius: 50%; vertical-align: middle;"></div>
                                <span style="vertical-align: middle;">Successful Interceptions</span>
                            </div>
                            <div class="child-data-right">
                                <img src="{{ url_for('static', filename='images/interceptions/' + player2 + '.png') }}" alt="tackles" class="inline-image" onError="this.onerror=null;this.src='/static/images/noimage.png';">
                            </div>
                            <div class="clear"></div>
                        </td>
                    <tr class="title" id="dropdown9">
                        <td>{% if p1aerials["total_aerials"] != 0 %}
                            {{ (p1aerials["successful_aerials"]/ p1aerials["total_aerials"]*100) | round(2) }}% successful
                            {% else %}
                            0% successful
                            {% endif %}
                            </td>
                        <td><i class="fas fa-caret-down dropdown-icon"></i>Aerial Duels</td>
                        <td>{% if p2aerials["total_aerials"] != 0 %}
                            {{ (p2aerials["successful_aerials"]/ p2aerials["total_aerials"]*100) | round(2) }}% successful
                            {% else %}
                            0% successful
                            {% endif %}
                            </td>
                    </tr>
                    <tr class="child-row">
                        <td class="child-data" colspan="3">
                            <div class="child-data-left">
                                <img src="{{ url_for('static', filename='images/aerials/' + player1 + '.png') }}" alt="tackles" class="inline-image" onError="this.onerror=null;this.src='/static/images/noimage.png';">
                            </div>
                            <div class="child-data-middle"> <!-- New middle child column -->
                                <br>
                                <div style="display: inline-block; width: 10px; height: 10px; background-color: green; border-radius: 50%; vertical-align: middle;"></div>
                                <span style="vertical-align: middle;">Aerial Duel Won</span>
                                <br>
                                <div style="display: inline-block; width: 10px; height: 10px; background-color: red; border-radius: 50%; vertical-align: middle;"></div>
                                <span style="vertical-align: middle;">Aerial Duel Lost</span>
                            </div>
                            <div class="child-data-right">
                                <img src="{{ url_for('static', filename='images/aerials/' + player2 + '.png') }}" alt="tackles" class="inline-image" onError="this.onerror=null;this.src='/static/images/noimage.png';">
                            </div>
                            <div class="clear"></div>
                        </td>
                    <tr class="title" id="dropdown10">
                        <td>{{ p1blocks }} Blocks</td>
                        <td><i class="fas fa-caret-down dropdown-icon"></i>Blocks</td>
                        <td>{{ p2blocks }} Blocks</td>
                    </tr>
                    <tr class="child-row">
                        <td class="child-data" colspan="3">
                            <div class="child-data-left">
                                <img src="{{ url_for('static', filename='images/blocks/' + player1 + '.png') }}" alt="tackles" class="inline-image" onError="this.onerror=null;this.src='/static/images/noimage.png';">
                            </div>
                            <div class="child-data-middle"> <!-- New middle child column -->
                                <br>
                                <div style="display: inline-block; width: 10px; height: 10px; background-color: green; border-radius: 50%; vertical-align: middle;"></div>
                                <span style="vertical-align: middle;">Successful</span>
                            </div>
                            <div class="child-data-right">
                                <img src="{{ url_for('static', filename='images/blocks/' + player2 + '.png') }}" alt="tackles" class="inline-image" onError="this.onerror=null;this.src='/static/images/noimage.png';">
                            </div>
                            <div class="clear"></div>
                        </td>
                    <tr class="title" id="dropdown11">
                        <td>Tx Info</td>
                        <td><i class="fas fa-caret-down dropdown-icon"></i>Tx Info</td>
                        <td>Tx Info</td>
                    </tr>
                    <tr class="child-row">
                        <td class="child-data" colspan="3">
                            <div class="child-data-left">
                                <div style = "text-align: right;">
                                {% for item in p1info %}
                                  <p>{{ item }}</p>
                                {% endfor %}
                                </div>
                            </div>
                            <div class="child-data-middle"> <!-- New middle child column -->
                                <br>
                                <div style="display: inline-block; width: 10px; height: 10px; background-color: green; border-radius: 50%; vertical-align: middle;"></div>
                                <span style="vertical-align: middle;">For Debugging Purposes</span>
                            </div>
                            <div class="child-data-right">
                                <div style = "text-align: right;">
                                {% for item in p2info %}
                                  <p>{{ item }}</p>
                                {% endfor %}
                                </div>
                            </div>
                            <div class="clear"></div>
                        </td>
                    <tr class="title" id="dropdown12">
                        <td>Radar Diagram</td>
                        <td><i class="fas fa-caret-down dropdown-icon"></i>Radar Diagram</td>
                        <td>Radar Diagram</td>
                    </tr>
                    <tr class="child-row">
                        <td class="child-data" colspan="3">
                            <div class="child-data-left">
                                <div style = "text-align: right;">
                                <div id="radar-chart1"></div>
                                </div>
                            </div>
                            <div class="child-data-middle"> <!-- New middle child column -->

                            </div>
                            <div class="child-data-right">
                                <div id="radar-chart2"></div>
                            </div>
                            <div class="clear"></div>
                        </td>
                </tbody>
            </table>
        </div>

    </div>

<script>
    $(document).ready(function () {
        var availableTags = {{ autocompleteData|tojson|safe }};

        $('#player1Name, #player2Name').autocomplete({
            source: availableTags,
            autoFocus: true
        });

        $('#loadStatsButton').click(function () {
            $('#loader').show();
            $('.form-container').hide();
            $('.table-container').hide(); // Hide .table-container and its children
            $('.footer').hide();
            $('.page-container').hide();
        });

        $('.title').each(function () {
            // Check if a cookie exists for this dropdown
            var dropdownId = $(this).attr('id');
            var cookieValue = getCookie(dropdownId);

            if (cookieValue === 'open') {
                $(this).next('.child-row').show();
                $(this).find('.dropdown-icon').removeClass('fa-caret-down').addClass('fa-caret-up');
            }
        });

        $('.title').click(function () {
            var dropdownId = $(this).attr('id');
            var isOpen = $(this).next('.child-row').is(':visible');

            if (isOpen) {
                $(this).next('.child-row').hide();
                $(this).find('.dropdown-icon').removeClass('fa-caret-up').addClass('fa-caret-down');
                // Save the closed state in a cookie
                setCookie(dropdownId, 'closed', 365);
            } else {
                $(this).next('.child-row').show();
                $(this).find('.dropdown-icon').removeClass('fa-caret-down').addClass('fa-caret-up');
                // Save the open state in a cookie
                setCookie(dropdownId, 'open', 365);

                resizeSankeyPlots();
            }
        });

        // Function to set a cookie
        function setCookie(name, value, days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + value + expires + "; path=/";
        }

        // Function to get a cookie by name
        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) === ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }
    });
</script>
    <script>
    // JavaScript code to generate the Sankey diagrams
    var labels = ["Penalty", "Other Set Piece", "Direct Free Kick", "Open Play", "Corner", "Counterattack",
                   "Head", "Left Foot", "Right Foot", "Other",
                   "Missed", "Woodwork", "Blocked", "Saved", "Goal"];

    // Function to resize Sankey plots
    function resizeSankeyPlots() {
        // Get the available width
        var availableWidth = $(".sankey-plot-container").width();

        // Update the layout of each Sankey plot
        Plotly.relayout('sankey-plot1', {
            width: availableWidth,
            margin: { l: 8, r: 8, t: 8, b: 8 } // Set margin to zero
        });

        Plotly.relayout('sankey-plot2', {
            width: availableWidth,
            margin: { l: 8, r: 8, t: 8, b: 8 } // Set margin to zero
        });
    }

    // Function to create Sankey plots
    function createSankeyPlots() {
        // Create the Sankey plots
        var source1 = {{ source1|tojson }};
        var target1 = {{ target1|tojson }};
        var value1 = {{ value1|tojson }};

        var data1 = [{
            type: 'sankey',
            node: {
                pad: 30,
                thickness: 20,
                line: {
                    color: "black",
                    width: 0.5
                },
                label: labels
            },
            link: {
                source: source1,
                target: target1,
                value: value1
            }
        }];

        var layout1 = {
            font: {
                size: 10
            },
            plot_bgcolor: 'rgba(0,0,0,0)', // Transparent background
            paper_bgcolor: 'rgba(0,0,0,0)', // Transparent paper (plot) background
            width: $(".sankey-plot-container").width(), // Set initial width
            margin: { l: 5, r: 5, t: 5, b: 5 } // Set margin to zero
        };

        Plotly.newPlot('sankey-plot1', data1, layout1, {displayModeBar: false});

        var source2 = {{ source2|tojson }};
        var target2 = {{ target2|tojson }};
        var value2 = {{ value2|tojson }};

        var data2 = [{
            type: 'sankey',
            node: {
                pad: 30,
                thickness: 20,
                line: {
                    color: "black",
                    width: 0.5
                },
                label: labels
            },
            link: {
                source: source2,
                target: target2,
                value: value2
            }
        }];

        var layout2 = {
            font: {
                size: 10
            },
            plot_bgcolor: 'rgba(0,0,0,0)', // Transparent background
            paper_bgcolor: 'rgba(0,0,0,0)', // Transparent paper (plot) background
            width: $(".sankey-plot-container").width(), // Set initial width
            margin: { l: 5, r: 5, t: 5, b: 5 } // Set margin to zero
        };

        Plotly.newPlot('sankey-plot2', data2, layout2, {displayModeBar: false});
    }

    // Call the resize function whenever the window is resized
    $(window).on('resize', resizeSankeyPlots);

    // Call the create function when the document is ready
    $(document).ready(createSankeyPlots);
</script>
    <script>
    var player1rating = {{ p1rating }};
var min_value1 = 0;
var max_value1 = 200;

var data1 = [
    {
        type: "indicator",
        mode: "gauge+number",
        value: player1rating,
        title: { text: "", showticklabels: false }, // Remove title and axis numbers
        domain: { x: [0, 1], y: [0, 1] },
        gauge: {
            axis: {
                range: [min_value1, max_value1],
                showticklabels: false,
                tickvals: [], // Remove axis markers
            },
            bar: { color: "lightgray" },
            steps: [
                { range: [min_value1, max_value1], color: "lightgray" },
                { range: [min_value1, player1rating], color: "white" },
            ],
            threshold: {
                line: { color: '#f87c2c', width: 5 },
                thickness: 1,
                value: player1rating,
            },
        },
    },
];

var layout1 = {
    annotations: [
        {
            text: "{{ playernames[0] }}", // Add player name
            x: 0.5,
            y: 0.9,
            xref: "paper",
            yref: "paper",
            showarrow: false,
            font: {
                size: 30,
                color: "white",
                family: "Arial",
            },
        },
    ],
    paper_bgcolor: 'rgba(0,0,0,0)', // Set the background color to transparent
    font: { color: "white", family: "Arial" },
    margin: { l: 0, r: 0, t: 0, b: 0 }, // Set margin to zero
    width: 300, // Set the desired width
    height: 300, // Set the desired height
    modeBarButtonsToRemove: ['toImage', 'sendDataToCloud', 'autoScale2d', 'resetScale2d'],
    xaxis: {
        domain: [0.5, 1], // Align to the right
        showticklabels: false, // Remove x-axis numbers
    },
    yaxis: {
        showticklabels: false, // Remove y-axis numbers
    },
};


    Plotly.newPlot("rating-chart1", data1, layout1, {displayModeBar: false});

    // JavaScript code to create the second Plotly gauge chart
var player2rating = {{ p2rating }};
var min_value2 = 0;
var max_value2 = 200;

var data2 = [
    {
        type: "indicator",
        mode: "gauge+number",
        value: player2rating,
        title: { text: "", showticklabels: false }, // Remove title and axis numbers
        domain: { x: [0, 1], y: [0, 1] },
        gauge: {
            axis: {
                range: [min_value2, max_value2],
                showticklabels: false,
                tickvals: [], // Remove axis markers
            },
            bar: { color: "lightgray" },
            steps: [
                { range: [min_value2, max_value2], color: "lightgray" },
                { range: [min_value2, player2rating], color: "white" },
            ],
            threshold: {
                line: { color: "#f87c2c", width: 5 },
                thickness: 1,
                value: player2rating,
            },
        },
    },
];

var layout2 = {
    annotations: [
        {
            text: "{{ playernames[1] }}", // Add player name
            x: 0.5,
            y: 0.9,
            xref: "paper",
            yref: "paper",
            showarrow: false,
            font: {
                size: 30,
                color: "white",
                family: "Arial",
            },
        },
    ],
    paper_bgcolor: 'rgba(0,0,0,0)', // Set the background color to transparent
    font: { color: "white", family: "Arial" },
    margin: { l: 0, r: 0, t: 0, b: 0 }, // Set margin to zero
    width: 300, // Set the desired width
    height: 300, // Set the desired height
    modeBarButtonsToRemove: ['toImage', 'sendDataToCloud', 'autoScale2d', 'resetScale2d'],
    xaxis: {
        domain: [0.5, 1], // Align to the right
        showticklabels: false, // Remove x-axis numbers
    },
    yaxis: {
        showticklabels: false, // Remove y-axis numbers
    },
};

    Plotly.newPlot("rating-chart2", data2, layout2, {displayModeBar: false});
</script>
    <script>
    // Define data for the first radar chart
    var categories1 = ['Passing Success', 'On target', 'Successful Tackles', 'Aerial Duels Won', 'Interceptions made', 'Passing Success']; // Add the first category again
    var values1 = [
        {{ (p1stats[0][3] / p1stats[0][1] * 100) | round(2) }},
        {{ (p1onTarget*100) | round(2) }},
        {{ (p1tackles["successful_tackles"] / p1tackles["total_tackles"] * 100) | round(2) }},
        {{ (p1aerials["successful_aerials"]/ p1aerials["total_aerials"]*100) | round(2) }},
        {{ p1interceptions }},
        {{ (p1stats[0][3] / p1stats[0][1] * 100) | round(2) }} // Add the first data point again
    ];

    // Create the first radar chart using Plotly
    var data1 = [
        {
            type: 'scatterpolar',
            r: values1,
            theta: categories1,
            fill: 'toself',
            name: 'Dataset 1'
        }
    ];

    var layout1 = {
        polar: {
            radialaxis: {
                visible: true,
                range: [0, 100]  // Adjust the range as needed
            }
        },
        showlegend: true,
        plot_bgcolor: 'rgba(0,0,0,0)',  // Transparent background
        paper_bgcolor: 'rgba(0,0,0,0)'  // Transparent background
    };

    Plotly.newPlot('radar-chart1', data1, layout1, {displayModeBar: false});

    // Define data for the second radar chart
    var categories2 = ['Passing Success', 'On target', 'Successful Tackles', 'Aerial Duels Won', 'Interceptions Made', 'Passing Success']; // Add the first category again
    var values2 = [
        {{ (p2stats[0][2] / p2stats[0][1] * 100) | round(2) }},
        {{ (p2onTarget*100) | round(2) }},
        {{ (p2tackles["successful_tackles"] / p2tackles["total_tackles"] * 100) | round(2) }},
        {{ (p2aerials["successful_aerials"]/ p2aerials["total_aerials"]*100) | round(2) }},
        {{ p2interceptions }},
        {{ (p2stats[0][2] / p2stats[0][1] * 100) | round(2) }} // Add the first data point again
    ];

    // Create the second radar chart using Plotly
    var data2 = [
        {
            type: 'scatterpolar',
            r: values2,
            theta: categories2,
            fill: 'toself',
            name: 'Dataset 2'
        }
    ];

    var layout2 = {
        polar: {
            radialaxis: {
                visible: true,
                range: [0, 100]  // Adjust the range as needed
            }
        },
        showlegend: true,
        plot_bgcolor: 'rgba(0,0,0,0)',  // Transparent background
        paper_bgcolor: 'rgba(0,0,0,0)'  // Transparent background
    };

    Plotly.newPlot('radar-chart2', data2, layout2, {displayModeBar: false});
</script>




    <br>
    <br>
    <br>
{% endblock %}