{% extends 'base.html' %}

{% block title %}Comparison{% endblock %}

{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <div class="form-container">
        <form action="/comparison" method="POST">
            <h1>Player Comparison</h1>
            <input type="text" id="player1Name" name="playerName" value="{{ playernames[0] }}">
            <input type="text" id="player2Name" name="playerName" value="{{ playernames[1] }}">
            <button type="submit" class="centered-button" id="loadStatsButton">Load Stats</button>
        </form>
    </div>

    <div id="loader"></div>

    <div>
        <div class="table-container">
            <table>
                <thead>
                <tr>
                    <th>{{ playernames[0] }}</th>
                    <th>Comparison</th>
                    <th>{{ playernames[1] }}</th>
                </tr>
            </thead>
                <tbody>
                        <tr class="title">
                        <td>Data 1.1</td>
                        <td><i class="fas fa-caret-down dropdown-icon"></i>Passing</td>
                        <td>Data 1.2</td>
                    </tr>
                    <tr class="child-row">
                        <td class="child-data" colspan="3"> <!-- Update colspan to 4 for the new column -->
                            <div class="child-data-left">
                                <img src="{{ url_for('static', filename='images/successful_passes/' + player1 + '.png') }}" alt="successful Passing Map" class="inline-image" onError="this.onerror=null;this.src='/static/images/noimage.gif';">
                            </div>
                            <div class="child-data-middle"> <!-- New middle child column -->
                                <p>These graphics show a players successful passes and their threat level</p>
                            </div>
                            <div class="child-data-right">
                                <img src="{{ url_for('static', filename='images/successful_passes/' + player2 + '.png') }}" alt="successful Passing Map" class="inline-image" onError="this.onerror=null;this.src='/static/images/noimage.gif';">
                            </div>
                            <div class="clear"></div>
                        </td>
                    </tr>
                        </td>
                    </tr>
                    <tr class="title">
                        <td>Data 2.1</td>
                        <td><i class="fas fa-caret-down dropdown-icon"></i>Title 2</td>
                        <td>Data 2.3</td>
                    </tr>
                    <tr class="child-row">
                        <td class="child-data" colspan="3">
                            <div class="child-data-left">Left Content 2</div>
                            <div class="child-data-right">Right Content 2</div>
                            <div class="clear"></div>
                        </td>
                    </tr>
                    <tr class="title">
                        <td>Data 3.1</td>
                        <td><i class="fas fa-caret-down dropdown-icon"></i>Title 3</td>
                        <td>Data 3.3</td>
                    </tr>
                    <tr class="child-row">
                        <td class="child-data" colspan="3">
                            <div class="child-data-left">Left Content 3</div>
                            <div class="child-data-right">Right Content 3</div>
                            <div class="clear"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <script>
    $(document).ready(function() {
    var availableTags = {{ autocompleteData|tojson|safe }};

    $('#player1Name, #player2Name').autocomplete({
        source: availableTags,
        autoFocus: true
    });

    $('#loadStatsButton').click(function() {
        $('#loader').show();
        $('.form-container').hide();
        $('.table-container').hide(); // Hide .table-container and its children
    });

    $('.title').next('.child-row').hide(); // Hide child rows initially
    $('.title').click(function () {
        $(this).next('.child-row').toggle();
        $(this).find('.dropdown-icon').toggleClass('fa-caret-down fa-caret-up');
    });
});

</script>


{% endblock %}