{% extends 'base.html' %}

{% block title %}Comparison{% endblock %}

{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <div class="form-container">
        <form action="/comparison" method="POST">
            <h1>Player Comparison</h1>
            <input type="text" id="player1Name" name="playerName" value="{{ playernames[0] }}">
            <input type="text" id="player2Name" name="playerName" value="{{ playernames[1] }}">
            <button type="submit" class="centered-button" id="loadStatsButton">Load Stats</button>
        </form>
    </div>

    <div id="loader"></div>

    <div>
        <div class="table-container">
            <table>
                <thead>
                <tr>
                    <th>{{ playernames[0] }}</th>
                    <th>Comparison</th>
                    <th>{{ playernames[1] }}</th>
                </tr>
            </thead>
                <tbody>
                        <tr class="title" id="dropdown1">
                        <td>{{ (p1stats[0][2] / p1stats[0][1] * 100) | round(2) }}%</td>
                        <td><i class="fas fa-caret-down dropdown-icon"></i>Successful Passing</td>
                        <td>{{ (p2stats[0][2] / p2stats[0][1] * 100) | round(2) }}%</td>
                    </tr>
                    <tr class="child-row">
                        <td class="child-data" colspan="3"> <!-- Update colspan to 4 for the new column -->
                            <div class="child-data-left">
                                <img src="{{ url_for('static', filename='images/successful_passes/' + player1 + '.png') }}" alt="successful Passing Map" class="inline-image" onError="this.onerror=null;this.src='/static/images/noimage.gif';">
                            </div>
                            <div class="child-data-middle"> <!-- New middle child column -->
                                <p>These graphics show a players successful passes and their threat level</p>
                                <img src="{{ url_for('static', filename='images/color_key_success/'+player1+'_'+player2+'.png') }}" alt="successful Passing Map" class="inline-image" onError="this.onerror=null;this.src='/static/images/noimage.gif';">
                            </div>
                            <div class="child-data-right">
                                <img src="{{ url_for('static', filename='images/successful_passes/' + player2 + '.png') }}" alt="successful Passing Map" class="inline-image" onError="this.onerror=null;this.src='/static/images/noimage.gif';">
                            </div>
                            <div class="clear"></div>
                        </td>
                    </tr>
                    <tr class="title" id="dropdown2">
                        <td>{{ (p1stats[0][3] / p1stats[0][1] * 100) | round(2) }}%</td>
                        <td><i class="fas fa-caret-down dropdown-icon"></i>Unsuccessful Passing</td>
                        <td>{{ (p2stats[0][3] / p2stats[0][1] * 100) | round(2) }}%</td>
                    </tr>
                    <tr class="child-row">
                        <td class="child-data" colspan="3"> <!-- Update colspan to 4 for the new column -->
                            <div class="child-data-left">
                                <img src="{{ url_for('static', filename='images/unsuccessful_passes/' + player1 + '.png') }}" alt="successful Passing Map" class="inline-image" onError="this.onerror=null;this.src='/static/images/noimage.gif';">
                            </div>
                            <div class="child-data-middle"> <!-- New middle child column -->
                                <p>These graphics show a players unsuccessful passes and their threat level</p>
                                <img src="{{ url_for('static', filename='images/color_key_unsuccess/'+player1+'_'+player2+'.png') }}" alt="successful Passing Map" class="inline-image" onError="this.onerror=null;this.src='/static/images/noimage.gif';">
                            </div>
                            <div class="child-data-right">
                                <img src="{{ url_for('static', filename='images/unsuccessful_passes/' + player2 + '.png') }}" alt="successful Passing Map" class="inline-image" onError="this.onerror=null;this.src='/static/images/noimage.gif';">
                            </div>
                            <div class="clear"></div>
                        </td>
                    </tr>

                    <tr class="title" id="dropdown3">
                        <td>Data 2.1</td>
                        <td><i class="fas fa-caret-down dropdown-icon"></i>xG</td>
                        <td>Data 2.3</td>
                    </tr>
                    <tr class="child-row">
                        <td class="child-data" colspan="3">
                            <div class="child-data-left">
                                <img src="{{ url_for('static', filename='images/ranks/xG/' + player1 + '.png') }}" alt="Miinutes/xg" class="inline-image" onError="this.onerror=null;this.src='/static/images/noimage.gif';">
                            </div>
                            <div class="child-data-middle"> <!-- New middle child column -->
                                <p>These graphics show a players xG</p>
                            </div>
                            <div class="child-data-right">
                                <img src="{{ url_for('static', filename='images/ranks/xG/' + player2 + '.png') }}" alt="Miinutes/xg" class="inline-image" onError="this.onerror=null;this.src='/static/images/noimage.gif';">
                            </div>
                            <div class="clear"></div>
                        </td>
                    </tr>
                    <tr class="title" id="dropdown4">
                        <td>Data 3.1</td>
                        <td><i class="fas fa-caret-down dropdown-icon"></i>Shot types</td>
                        <td>Data 3.3</td>
                    </tr>
                    <tr class="child-row">
                        <td class="child-data" colspan="3">
                            <div class="child-data-left"><div class="sankey-plot-container" id="sankey-plot1"></div></div>
                            <div class="child-data-right"><div class="sankey-plot-container" id="sankey-plot2"></div>
                            <div class="clear"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

<script>
    $(document).ready(function () {
        var availableTags = {{ autocompleteData|tojson|safe }};

        $('#player1Name, #player2Name').autocomplete({
            source: availableTags,
            autoFocus: true
        });

        $('#loadStatsButton').click(function () {
            $('#loader').show();
            $('.form-container').hide();
            $('.table-container').hide(); // Hide .table-container and its children
            $('.footer').hide();
        });

        $('.title').each(function () {
            // Check if a cookie exists for this dropdown
            var dropdownId = $(this).attr('id');
            var cookieValue = getCookie(dropdownId);

            if (cookieValue === 'open') {
                $(this).next('.child-row').show();
                $(this).find('.dropdown-icon').removeClass('fa-caret-down').addClass('fa-caret-up');
            }
        });

        $('.title').click(function () {
            var dropdownId = $(this).attr('id');
            var isOpen = $(this).next('.child-row').is(':visible');

            if (isOpen) {
                $(this).next('.child-row').hide();
                $(this).find('.dropdown-icon').removeClass('fa-caret-up').addClass('fa-caret-down');
                // Save the closed state in a cookie
                setCookie(dropdownId, 'closed', 365);
            } else {
                $(this).next('.child-row').show();
                $(this).find('.dropdown-icon').removeClass('fa-caret-down').addClass('fa-caret-up');
                // Save the open state in a cookie
                setCookie(dropdownId, 'open', 365);
            }
        });

        // Function to set a cookie
        function setCookie(name, value, days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + value + expires + "; path=/";
        }

        // Function to get a cookie by name
        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) === ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }
    });
</script>
    <script>
    // JavaScript code to generate the Sankey diagrams
    var labels = ["penalty", "set piece", "direct free kick", "regular play", "corners", "fast break",
                   "header", "left footer", "right footer", "other",
                   "miss", "post", "blocked", "saved", "goal"];

    // Function to resize Sankey plots
    function resizeSankeyPlots() {
        // Get the available width
        var availableWidth = $(".sankey-plot-container").width();

        // Update the layout of each Sankey plot
        Plotly.relayout('sankey-plot1', {
            width: availableWidth,
            margin: { l: 0, r: 0, t: 0, b: 0 } // Set margin to zero
        });

        Plotly.relayout('sankey-plot2', {
            width: availableWidth,
            margin: { l: 0, r: 0, t: 0, b: 0 } // Set margin to zero
        });
    }

    // Function to create Sankey plots
    function createSankeyPlots() {
        // Create the Sankey plots
        var source1 = {{ source1|tojson }};
        var target1 = {{ target1|tojson }};
        var value1 = {{ value1|tojson }};

        var data1 = [{
            type: 'sankey',
            node: {
                pad: 30,
                thickness: 20,
                line: {
                    color: "black",
                    width: 0.5
                },
                label: labels
            },
            link: {
                source: source1,
                target: target1,
                value: value1
            }
        }];

        var layout1 = {
            font: {
                size: 10
            },
            plot_bgcolor: 'rgba(0,0,0,0)', // Transparent background
            paper_bgcolor: 'rgba(0,0,0,0)', // Transparent paper (plot) background
            width: $(".sankey-plot-container").width(), // Set initial width
            margin: { l: 5, r: 5, t: 5, b: 5 } // Set margin to zero
        };

        Plotly.newPlot('sankey-plot1', data1, layout1);

        var source2 = {{ source2|tojson }};
        var target2 = {{ target2|tojson }};
        var value2 = {{ value2|tojson }};

        var data2 = [{
            type: 'sankey',
            node: {
                pad: 30,
                thickness: 20,
                line: {
                    color: "black",
                    width: 0.5
                },
                label: labels
            },
            link: {
                source: source2,
                target: target2,
                value: value2
            }
        }];

        var layout2 = {
            font: {
                size: 10
            },
            plot_bgcolor: 'rgba(0,0,0,0)', // Transparent background
            paper_bgcolor: 'rgba(0,0,0,0)', // Transparent paper (plot) background
            width: $(".sankey-plot-container").width(), // Set initial width
            margin: { l: 5, r: 5, t: 5, b: 5 } // Set margin to zero
        };

        Plotly.newPlot('sankey-plot2', data2, layout2);
    }

    // Call the resize function whenever the window is resized
    $(window).on('resize', resizeSankeyPlots);

    // Call the create function when the document is ready
    $(document).ready(createSankeyPlots);
</script>






    <br>
    <br>
    <br>
{% endblock %}