{% extends 'base.html' %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>Find a player</title>
</head>
<body>
    <div id="loading"></div>
    <div id="content">
    <form id="myForm" method="POST" action="/findplayer">
        <label for="player">Player name</label>
        <input type="text" id="player" name="player" value="{{ player }}">
        <button type="submit" id="submitButton">Submit</button>
    </form>




    <script>
    $( function() {
        var availableTags = {{ autocompleteData|tojson|safe }};
        var nameToID = {{ nameToID|tojson|safe }};

        $("#player").autocomplete({
          source: availableTags,
          autoFocus: true
        });

        $('#myForm').on('submit', function(e){
            var name1 = $('#player').val();

            if(!availableTags.includes(name1)) {
                alert('Please enter valid names.');
                e.preventDefault();
            } else {
                // Change the value of the input to the ID before submitting
                $('#player').val(nameToID[name1]);
            }
        });
    });

    </script>

    <script type="text/javascript">// <![CDATA[
        function loading(){
            $("#loading").show();
            $("#content").hide();
        }
// ]]></script>
    <script>
        $(document).ready(function() {
    $("#submitButton").on('click', function() {
        loading();
    });
});

    </script>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

</body>
{% endblock %}